//body
$body-bg: f5f8fa;

//tipografia
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base:1.6;
$text-color: #636b6f;

//Navbar
$navbar-default-bg: $text-color;

//botones
$btn-default-color: $text-color;

//pneles
$panel-default-heading-bg: #fff;

$app-bg-color: #C0355D;

